* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

.wrap-pd {
  padding: 60px 0;
}

.mg-b-1 {
  margin-bottom: 35px;
}

.mg-b-2 {
  margin-bottom: 15px;
}

.pd-mid {
  padding: 0 30px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

header .header1.container {
  padding: 0 15px !important;
  position: relative;
  z-index: 2;
}

header .header1.container .navbar-brand {
  margin: 0;
  padding: 0;
}

header .header1.container .navbar-brand img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

header .header1.container .customNav1 {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  right: 50%;
  left: 50%;
}

header .header1.container .customNav1 .custom_ul1 .nav-item {
  padding-right: 40px;
}

header .header1.container .customNav1 .custom_ul1 .nav-item .nav-link {
  font-size: 13px;
  font-weight: 600;
  color: #181818 !important;
  line-height: 80px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
}

header .header1.container .customNav1 .custom_ul1 .nav-item .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}

header .header1.container .customNav1 .custom_ul1 .nav-item .active::after {
  opacity: 1;
}

header .header1.container .customNav1 .custom_ul1 .nav-item:hover .nav-link {
  color: #b61984 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header1.container .customNav2 {
  position: absolute;
  right: 80px;
  top: 10px;
  position: absolute;
  right: 0;
  top: 10px;
}

header .header1.container .customNav2 .custom_ul2 .nav-item {
  margin-left: 12px;
}

header .header1.container .customNav2 .custom_ul2 .nav-item .nav-link1 {
  font-size: 13px;
  font-weight: 600;
  color: #191919 !important;
  line-height: 80px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

header .header1.container .customNav2 .custom_ul2 .nav-item:hover .nav-link1 {
  color: #b61984 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reason {
  position: relative;
}

.reason .imgBG {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: -2%;
}

.reason .imgBG img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.reason .pd-wrap {
  padding: 60px 0;
}

.reason .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reason .textWrap1 p {
  color: #b61984;
  margin-bottom: 8px;
}

.reason .textWrap1 h1 {
  font-size: 57px;
  font-weight: 700;
  color: #191919 !important;
  line-height: 1.2;
}

.reason .imgWrap1 {
  padding: 0 20px;
}

.reason .imgWrap1 img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.reason .imgBG1 {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: unset;
  right: 0;
  bottom: 0;
  left: 0;
}

.reason .imgBG1 img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.features {
  background-color: #dcd1f3;
  position: relative;
}

.features .features__header {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .imgWrap2 {
  padding: 0 25px;
}

.features .imgWrap2 img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.features .textWrap2 {
  padding: 0 20px;
}

.features .textWrap2 p:first-child {
  color: #b61984;
  margin-bottom: 8px;
}

.features .textWrap2 p:last-child {
  font-size: 15px;
  font-weight: 400;
  color: #181818 !important;
  line-height: 27px;
}

.features .textWrap2 h1 {
  margin: 0;
  font-size: 57px;
  font-weight: 700;
  color: #191919 !important;
  line-height: 1.2;
}

.features .features__content {
  z-index: 3;
  position: relative;
}

.features .feature__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features .feature_aTop {
  font-size: 44px;
  font-weight: 400;
  color: #191919 !important;
  line-height: 1.2;
}

.features .feature_bot {
  padding-left: 25px;
}

.features .feature_bot a {
  font-size: 13px;
  font-weight: 600;
  color: #b61984 !important;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.features .feature_bot p {
  font-size: 15px;
  font-weight: 400;
  color: #181818 !important;
  line-height: 27px;
  padding-top: 6px;
}

.features .imgBG2 {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: unset;
  right: unset;
  bottom: 0%;
  left: unset;
}

.features .imgBG2 img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.students {
  padding-top: 60px;
}

.students .students__wrap {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.students .student__text {
  position: relative;
  width: 80%;
  padding: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.8em;
}

.students .student__text p:first-child {
  font-size: 27px;
  font-weight: 300;
  color: #181818 !important;
  line-height: 27px;
  font-style: italic;
  margin-bottom: 30px;
}

.students .student__text p:last-child {
  font-size: 15px;
  font-weight: 300;
  color: #191919 !important;
  line-height: 1.9;
}

.students .student__text h2 {
  color: #b61984;
  margin-bottom: 8px;
  font-size: 13px;
}

.students .img__frame {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.students .student__detail {
  width: 90%;
}

.students img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.teachers {
  position: relative;
}

.teachers .teacher_thumb_wrap {
  background-color: white;
  border-radius: 10px;
  padding: 0 20px;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.teachers .teacher_thumb_wrap:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px -10px black;
          box-shadow: 0 20px 20px -10px black;
}

.teachers .teacher__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.teachers .teacher_bubble {
  position: relative;
}

.teachers .teacher_bubble h1 {
  font-size: 47px;
  font-weight: 700;
  color: #181818 !important;
  line-height: 1.2;
}

.teachers .bubbleBG {
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15%;
}

.teachers .bubbleBG img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.teachers .teacher__bot {
  position: relative;
  z-index: 4;
}

.teachers .teacher_img {
  margin: 0 -20px;
}

.teachers .teacher_img img {
  max-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.teachers .teacher_img:hover img {
  border-radius: 10px 10px 0 0;
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
}

.teachers .teacher_text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.teachers .teacher_text P:first-child {
  color: #b61984;
  font-size: 13px;
}

.teachers .teacher_text P:last-child {
  font-size: 15px;
  font-weight: 200;
  color: #181818 !important;
  line-height: 27px;
}

.teachers .teacher_text h2 {
  font-size: 23px;
  font-weight: 700;
  color: #191919 !important;
  line-height: 27px;
  margin-bottom: 15px;
}

.teachers .imgBG3 {
  position: absolute;
  bottom: 0%;
}

.teachers .imgBG3 img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

footer {
  position: relative;
  z-index: 3;
  background-color: #ab377e;
  overflow: hidden;
}

footer .footer_wrap_col {
  padding-right: 45px;
}

footer h1 {
  padding-left: 15px;
  font-size: 23px;
  font-weight: 700;
  color: #fff !important;
  line-height: 1.2;
}

footer .footer_contact .footer_ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_contact .nav-item {
  font-size: 13px;
  font-weight: normal;
  color: #fff !important;
  line-height: 1.2;
}

footer .footer_contact .nav-item i {
  padding-right: 10px;
}

footer .form-wrap {
  padding: 40px 0;
}

footer .input_wrap input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background: transparent;
  line-height: 1;
  display: block;
  padding: 1em;
  color: white;
  text-align: center;
  height: 3.2em;
}

footer .input_wrap input:focus {
  border: 1px solid white;
}

footer .input_wrap input:focus-visible {
  outline: none;
}

footer .imgBG4 {
  position: absolute;
  z-index: -1;
  bottom: 0%;
  right: -8%;
  left: -9%;
}

footer .imgBG4 img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.divBtn1, .divBtn2, .divBtn3 {
  font-size: .9rem;
  display: inline-block;
  line-height: 1;
  width: auto;
}

.divBtn1 .customBtn1, .divBtn2 .customBtn1, .divBtn3 .customBtn1, .divBtn2 .customBtn2, .divBtn3 .customBtn3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-weight: 500;
  margin: 6px;
  padding: 1.1em 1.5em;
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
          box-shadow: 0 0 0 3em #b61984 inset;
  background: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: 50px;
  color: #fff;
}

.divBtn1 .customBtn1:hover, .divBtn2 .customBtn1:hover, .divBtn3 .customBtn1:hover, .divBtn2 .customBtn2:hover, .divBtn3 .customBtn3:hover {
  color: #b61984 !important;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
}

.divBtn1 .customBtn1 .customBtn_i, .divBtn2 .customBtn1 .customBtn_i, .divBtn3 .customBtn1 .customBtn_i, .divBtn2 .customBtn2 .customBtn_i, .divBtn3 .customBtn3 .customBtn_i {
  padding-right: 6px;
}

.divBtn2 .customBtn2 {
  padding: 1.4em 2.6em;
}

.divBtn3 {
  width: 100%;
}

.divBtn3 .customBtn3 {
  -webkit-box-shadow: 0 0 0 3em #fff inset;
          box-shadow: 0 0 0 3em #fff inset;
  color: #191919;
}

.divBtn3 .customBtn3:hover {
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
  color: #fff !important;
}

.social1 .social_nav1, .social2 .social_nav1, .inner_links .social_nav1 {
  padding: 0;
}

.social1 .nav-item .nav-link, .social2 .nav-item .nav-link, .inner_links .nav-item .nav-link {
  padding: 0 10px;
  color: #191919;
  font-size: 15px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.social1 .nav-item:hover .nav-link, .social2 .nav-item:hover .nav-link, .inner_links .nav-item:hover .nav-link {
  color: #b61984;
}

.social2 .social_nav2 {
  padding: 0;
}

.social2 .nav-item .nav-link {
  padding: 0 5px 0 0;
  color: #fff;
}

.social2 .nav-item:hover .nav-link {
  color: #191919 !important;
}

.inner_links .inner_links_nav {
  padding: 0;
}

.inner_links .inner_links_ul {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner_links .nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.inner_links .nav-item .nav-link {
  font-size: 13px;
  padding: 12px 16px;
  color: #fff;
}

.inner_links .nav-item:hover .nav-link {
  color: rgba(255, 255, 255, 0.689);
}
/*# sourceMappingURL=style.css.map */