//color
$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-yellow-1: #f9d412;

//pink
$color-pink-1: #b61984;
$color-pink-2: #f2edeb;
$color-pink-3: #ab377e;
// $color-pink-1: #b61984;

//dark color
$color-dark-0: #191919;
$color-dark-1: #181818;
$color-dark-2: #121212;
$color-dark-3: #353536;
$color-dark-4: #212121;
$color-blue-4: #2196f3;

//violet
$color-vio-1: #dcd1f3;



//font size
$fs-1: 13px;
$fs-2: 15px;
$fs-4: 70px;
$fs-7: 20px;
$fs-8: 44px;
$fs-9: 57px;
$fs-10: 27px;
$fs-11: 47px;
$fs-12: 23px;


//font weight
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-6: 600;
$fw-7: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding

$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 40px;
$pd-5: 100px;
$pd-7: 60px;
$pd-8: 150px;
$pd-9: 6px;

//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;
$mg-5: 12px;
$mg-6: 8px;

//border
$bd-1: 2px;
$bd-2: 8px;

//break points
$breakpoints: (
   "extra-large": 1200px,
   "large": 992px,
   "medium": 768px,
   "small": 576px,
   "extra-large-down": 1199.98px,
   "large-down": 991.98px,
   "medium-down": 767.98px,
   "small-down": 575.98px,
);


//box-shadow
$bs-1: 0 0 0 3em $color-pink-1 inset;
$bs-2: 0 0 0 1px $color-pink-1 inset;

//transition
$transit-1: all 300ms ease;

//line-height
$lh-1: 1.2;
$lh-2: 27px;
$lh-3: 1.9;
$lh-8: 80px;


// ***flex
//justify content
$jc-1: space-around;
$jc-2: space-between;
$jc-3: center;

//aligh item
$ai-1: center;
$ai-2: flex-start;


// ***position %
//top
$t-posit-0 : 0%;
$t-posit-1 : 10%;
$t-posit-2 : 45%;
$t-posit-3 : 50%;
$t-posit-5: -10%;
$t-posit-6: 67%;

//right
$r-posit-0 : 0%;
$r-posit-1 : 10%;
$r-posit-2 : 45%;
$r-posit-3 : 50%;
$r-posit-5: -10%;

//bot
$b-posit-0 : 0%;
$b-posit-1 : 10%;
$b-posit-2 : 45%;
$b-posit-3 : 50%;
$b-posit-5: -10%;

//left
$l-posit-0 : 0%;
$l-posit-1 : 10%;
$l-posit-2 : 45%;
$l-posit-3 : 50%;
$l-posit-5: -2%;



//z-index
$z-i-1: -1;
$z-i-2: 1;
$z-i-3: 2;

//teachers
$teacher: teacher-1 teacher-2 teacher-3 teacher-4;