.divBtn1 {
   font-size: .9rem;
   display: inline-block;
   line-height: 1;
   width: auto;

   .customBtn1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      font-weight: 500;
      margin: 6px;
      padding: 1.1em 1.5em;
      box-shadow: $bs-1;
      background: transparent;
      transition: $transit-1;
      border-radius: 50px;
      color: $color-white-3;

      &:hover {
         @include hover1($color-pink-1, $bs-2);
      }

      .customBtn_i {
         padding-right: $pd-9;
      }
   }
}

.divBtn2 {
   @extend.divBtn1;

   .customBtn2 {
      @extend.customBtn1;
      padding: 1.4em 2.6em;
   }
}

.divBtn3 {
   @extend.divBtn1;
   width: 100%;

   .customBtn3 {
      @extend.customBtn1;
      box-shadow: 0 0 0 3em #fff inset;
      color: $color-dark-0;

      &:hover {
         box-shadow: 0 0 0 1px #fff inset;
         color: #fff !important;
      }
   }
}