.social1 {
   .social_nav1 {
      padding: 0;
   }

   .nav-item {
      .nav-link {
         padding: 0 10px;
         color: $color-dark-0 ;
         font-size: $fs-2;
         transition: $transit-1;
      }

      &:hover {
         .nav-link {
            color: $color-pink-1;
         }
      }
   }
}

//footer col 1
.social2 {
   @extend.social1;

   .social_nav2 {
      padding: 0;
   }

   .nav-item {
      .nav-link {
         padding: 0 5px 0 0;
         color: $color-white-3;


      }

      &:hover {
         .nav-link {
            color: $color-dark-0  !important;
         }
      }
   }
}

//footer col 2
.inner_links {
   @extend.social1;

   .inner_links_nav {
      padding: 0;
   }

   .inner_links_ul {
      width: 100%;
      flex-direction: column;
   }

   .nav-item {
      border-bottom: 1px solid rgba(0, 0, 0, .1);

      .nav-link {
         font-size: $fs-1;
         padding: 12px 16px;
         color: $color-white-3;
      }

      &:hover {
         .nav-link {
            color: rgba(255, 255, 255, 0.689);
         }
      }
   }
}