.features {
   background-color: $color-vio-1 ;
   position: relative;

   .features__header {
      @include row($jc-1, $ai-1)
   }

   .imgWrap2 {
      padding: 0 25px;

      img {
         @include imgFull;
      }
   }

   .textWrap2 {
      padding: 0 20px;

      p {
         &:first-child {
            @include pTextPink;
         }

         &:last-child {
            @include styleText($fs-2, $fw-4, $color-dark-1, $lh-2);
         }
      }

      h1 {
         margin: 0;
         @include styleText($fs-9, $fw-7, $color-dark-0, $lh-1);
      }
   }

   .features__content {
      z-index: 3;
      position: relative;
   }

   .feature__detail {
      display: flex;
      @include row($jc-1, $ai-2);
   }

   .feature_aTop {
      @include styleText($fs-8, $fw-4, $color-dark-0, $lh-1);
   }

   .feature_bot {
      padding-left: $pd-1;

      a {
         @include styleText($fs-1, $fw-6, $color-pink-1, $lh-1);
         letter-spacing: 0.5px;
      }

      p {
         @include styleText($fs-2, $fw-4, $color-dark-1, $lh-2);
         padding-top: $pd-9;
      }
   }

   .imgBG2 {

      @include posiAbso($z-i-2,
         unset, unset, $b-posit-0, unset, );

      img {
         @include imgFull;
      }
   }
}