.students {
   // position: relative;
   padding-top: 60px;

   .students__wrap {
      justify-content: space-around;
      align-items: center
   }


   .student__text {
      position: relative;
      width: 80%;
      padding: 50px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.8em;

      p {
         &:first-child {
            @include styleText($fs-10, $fw-3, $color-dark-1, $lh-2);
            font-style: italic;
            margin-bottom: 30px;
         }

         &:last-child {
            @include styleText($fs-2, $fw-3, $color-dark-0, $lh-3);
         }
      }

      h2 {
         @include pTextPink;
         font-size: $fs-1
      }
   }

   .img__frame {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
   }

   .student__detail {
      width: 90%
   }

   img {
      @include imgFull;
   }
}