.team {
  position: relative;
  padding-top: $pd-7;
  background-color: $pink-2;

  &::after {
    content: "";
    display: block;
    background: url(../../assets/img/Wave_White_bottom_right_shape_01.png) left 100% / 100% 50% no-repeat;
    width: 100%;
    height: 100%;
    @include position(absolute, initial, initial, initial, 0, 0);

    @include mediaQuery($xs) {
      background: url(../../assets/img/Wave_White_bottom_right_shape_01.png) left 100% / 100% 6% no-repeat;;
    }
  }
}
.team__list {
  position: relative;
  z-index: 9;
  @include flexGrid(wrap, $m-9, $m-9);

  .team__item {
    @include flexItem(4, $m-9, $m-9);

    @include mediaQuery($sm) {
      @include flexItem(2, $m-9, $m-9);
    }

    @include mediaQuery($xs) {
      @include flexItem(1, $m-9, $m-9);
    }

    border-radius: $br-2;
    background-color: $light;
    overflow: hidden;
    transition: all 0.5s linear;
    &:hover {
      box-shadow: 0 30px 30px -10px $black-2;
    }

    .team__item-img {
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        @include img(100%, 100%);
        transition: all 0.5s linear;
      }
    }

    .team__item-info {
      padding: $pd-6 $pd-5;
      text-align: center;

      .team__item-country {
        @include textStyle($fs-1, $fw-3, initial, $pink-1);
        margin-bottom: $m-2;
      }

      .team__item-name {
        @include textStyle($fs-6, $fw-4, initial, $black);
        margin-bottom: $m-5;
      }

      .team__item-description {
        @include textStyle($fs-3, initial, $lh-3, $black-1);
      }
    }
  }
}
